/* Divs principais */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
}
.photo{
    background-image: url(../asets/ceu-vermelho.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: -250px;
    background-size: cover;
    height: 700px;
    width: 100%;
    color: white;
    text-align: center;

}
/* cabeçalho */
.head{
    overflow: hidden;
    /* Se eu passar o overflow hidem em um objeto com posição alterada e não tiver as medidas do tamanho do objeto. ele irá cobrir todo o conteúdo presente nela com a div. */
    position: absolute;
    width: 100%;
}
h1{
    line-height: 50px;
    font-weight: 700;
}
p{
    font-weight: 300;
}

/* formulario */
form{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate( -50%, -50%);
    box-sizing: border-box;
    
}
input[type=submit]{
    width: 230px;
    background-color: black;
    color: white;
}
input[type=text]{
    width: 230px;
    box-sizing: border-box;
    margin-bottom: 30px;
    background-color: black;
    transition: 0.2;
    outline: 3px yellow;
}

/* div central */
img{
    margin: auto;
}
.barra{
    text-align: center;
    overflow: hidden;
    height: 800px;
    width: 100%;
    background-color: black;
}
main{
    width: 100%;
    height: 500px;
    background-color: black;
    box-sizing: border-box;
    border-radius: 0px 0px 40px 40px;
    border-top: 1px solid #000000;
    position: relative;
    color: #13daae;
    text-align: center;
}
h2{
    text-align: center;
    font-weight: 900;
}
section{
    width: 800px;
    height: 230px;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}
.divum{
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
}
.divdois{
    width: 368px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.divtres{
    width: 200px;
    height: 200px;
    float: right;
    box-sizing: border-box;
    padding-top: 10px;
}
.box{
    width: 90%;
    height: 80px;
    overflow: hidden;
    margin: auto;
    
}
.boxum{
    width: 90%;
    height: 70%;
    margin: auto;
    background-image: url(../asets/a694b57fadc9a548bd04596fca283628.jpg);
    background-position-y: -20px;
    background-position-x: -20px;
    border-radius: 100px;
}
.boxdois{
    width: 50%;
    height: 90%;
    margin: 10px 10px 10px 10px;
    background-image: url(../asets/ec8d89fc86c557376dafd5ccef760618.png);
    background-size: cover;
    background-position-y: -30px;
    display: inline-block;
    /* como eu colocaria o texto ao lado da imagem com float left ? */
    border-radius: 100px;
}
.pdois{
    display: inline-block;
    font-size: 0.7em;
    margin: 0px;
    font-weight: 500;

}
.boxtres{
    width: 90%;
    height: 70%;
    margin: auto;
    background-image: url(../asets/images.jpeg);
    background-size: cover;
    background-position-y: -70px;
    border-radius: 100px;
}
/* footer */
footer{
    width: 100%;
    height: 300px;
    background-image: url(../asets/ciclovia.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    background-attachment: fixed;
    margin-top: -40px;
    
}
.pfinal{
    width: 100%;
    height: 80px;
    color: #13daae;
    display: inline-block;
    position: relative;
    top: 180px;
    text-align: center;
}